name: Build Ubuntu
on:
  push:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - run: sudo apt-get install pkg-config fuse libfuse-dev librsync-dev libexiv2-dev libavformat-dev libmagick++-dev libgraphicsmagick++1-dev
    - run: |
       sudo modprobe fuse
       sudo chmod 666 /dev/fuse
       sudo chown root:$USER /etc/fuse.conf
    - run: ./configure
    - run: make
    - run: make test
